{% extends "blog/base.html" %}
{% block content %}
    <h1>Über mich</h1>
    <div class="article_box" style="margin-bottom: 10%; margin-top: 3%; padding: 5%;">
        <img align="left" style=" border-radius: 50%;" width="200px" height="auto" src="/static/blog/profilbild.jpg" alt="profilbild von mir"><span style="font-size: 1.2rem">
            Geboren und aufgewachsen in Österreich war ich gut informiert über Computer und das Internet. Zu Hause hatten wir nie veraltete Computer oder langsames Wlan.
            Gemeinsam mit Nachbarn und Freunden fing man mit dem Computerspielen an, eine Zeit, wo man mit seinem PC mehr oder weniger zusammenwächst. Schnell wurden Texturepacks installiert
            oder eigene entworfen. Das Verstehen über den Computer wuchs und so das Intersse. Mit 14 Jahren fing ich an, eigene Programme zu schreiben. Aus einem VorlesungsSkript
        der Fachhochschule Westfalen lernte ich die <span style="font-weight:bold">Programmiergrundlagen mit Java</span>, weil
        <a target="_blank" href="https://www.youtube.com/watch?v=8baa27uPo0U&list=PLdRbhbTUg6E6yb8dp7ty2Uw3FggKDDgjT">auf YouTube einer der Professoren davon Tutorials veröffentlichte</a>.
            Anfangs schrieb ich nur von Tutorials oder Webforen Code nach. Dass man damit auch selber große Projekte stemmen konnte, wurde mir erst später klar.
        Die ersten eigenen Projekte schrieb ich mit <span style="font-weight:bold">Python mithilfe  der TkInter-GUI.</span> Lagerprogramme oder Lohnverrechnungsprogramme, die immer komplexer wurden, machten mir klar,
        dass <span style="font-weight:bold">größere Projekte ohne Vorher-Durchdenken und Struktur sehr schnell sehr unübersichtlich werden </span> können. Mit dem Web-Framework
        <span style="font-weight:bold">Django</span> auf Basis von Python lernte
            ich nach einigen Fehlversuchen, dass man mit einer ordentlichen Struktur gewaltig dynamische Websites basteln kann. Auch diese Website ist eine Django-Website. Nach
            <a target="_blank" href="https://maxlearn.pythonanywhere.com/">einigen missglückten Versuchen, Websites auch gut zu designen,</a> konnte ich auch halbwegs gute
        Designs mit CSS zusammenbasteln. Auf dem Weg habe ich mir noch <span style="font-weight:bold">JavaScript</span> angeeignet, und bin mittlerweile auch gut vertraut mit
        <span style="font-weight:bold">JQuery, Ajax oder einfach nur Plain Old JavaScript.</span>
             Auch mit React und Angular wollte ich anfangen, doch dann hat etwas meinen Weg geschnitten:
            <span style="font-weight:bold">Der Arduino.</span>  Mittlerweile (2020)
            arbeite ich hauptsächlich an hardwarenaher Programmierung am Arduino und tüftle herum, und nebenbei versuche ich mich noch mich ein bisschen in AI mit Python.


          </span>

    </div>







{% endblock content %}
