
<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {%if title%}
        <meta name="twitter:title" content="{{title}} | Technikmax">
        <meta name="title" content="{{title}} | Technikmax" /><meta property="og:title" content="{{title}} | Technikmax" />
        <title>{{title}} | Technikmax</title>
    {%else%}
        <title>Technikmax</title>
    {%endif%}

    <meta name="type" content="article" /><meta property="og:type" content="article" /> <!-- I know thats not exactly right-->
    <meta name="twitter:card" content="summary">

    {%if meta_des%}

        <meta name="twitter:description" content="{{meta_des}}">
        <meta name="description" content="{{meta_des}}" /><meta property="og:description" content="{{meta_des}}" />

    {%else%}
        <meta name="description" content="Technik Blog und Projekte" /><meta property="og:description" content="Technik Blog und Projekte" />
    {%endif%}

    {%if img%}
        <meta name="twitter:image" content="{{img}}">
        <meta property="og:image" content="{{img}}" />
    {%else%}
        <meta name="twitter:image" content="{% static 'favicon.ico' %}">
        <meta property="og:image" content="{% static 'favicon.ico' %}" />
    {%endif%}
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">

    <meta name="site_name" content="Technikmax" /><meta property="og:site_name" content="Technikmax" />
    <meta name="url" content="{{request.build_absolute_uri}}" /><meta property="og:url" content="{{request.build_absolute_uri}}" />

    {%if keywords%}
    <meta name="keywords" content="{{keywords}}">
    {%else%}
    <meta name="keywords" content="Programming">
    {%endif%}







    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style3.css' %}">



    <!--OLD JAVASCRIPT BEFORE TRANSITION-->
<!-- Jquery needed -->





<!-- Optional JavaScript -->
     <!--jQuery first, then Popper.js, then Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>




</head>
<body style="background-color:white;">



<div id="hero-image" class="hero-image" >


    <nav id="navbar" class="selfmade-nav" >
        <div class="nav-container">
            <div class="logo">
                <a title="Startseite" href="{% url 'blog-home' %}"><img alt="Technikmax Logo" src="{% static 'favicon.ico' %}" width="60px" height="auto" >Technikmax</a>

            </div>

            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <!--<li><a href="">Blog</a></li>-->
                    <li><a title="Startseite " id="home" href="{%url 'blog-home'%}">Home</a></li>

                    {% load types %}
                    {% types %}
                    <li><a title="Kategorien " href="{%url 'categories'%}" style="background: -webkit-radial-gradient(#ff6600, #ff5050);
                     -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Kategorien</a></li>
                    <li><a title="Über Technikmax" href="{%url 'about'%}" style="background: -webkit-radial-gradient(#cc66ff, #3399ff);
                     -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Über mich</a></li>








                        <!--<div class="dropdown">-->
                        <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Dropdown button-->
                        <!--</button>-->
                        <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                        <!--<a class="dropdown-item" href="#">Action</a>-->
                        <!--<a class="dropdown-item" href="#">Another action</a>-->
                        <!--<a class="dropdown-item" href="#">Something else here</a>-->
                        <!--</div>-->



                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>


{% block herotext %}{% endblock %}
</div>
        <!--<img width="100%" src="static/blog/cover.png" alt="Technikmax Logo Cover">-->



{% block wide-content %}{% endblock %}
<div class="wrap" style="margin-top: 10px">
    <div id="base-container" class="container main">







       <!-- all other page content (for page footer) -->


     {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ messages.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}



            {% block content %}{% endblock %}


    </div>
</div>





    <script>


        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.selfmade-nav').addClass('affix');
                console.log("OK");

            } else {
                $('.selfmade-nav').removeClass('affix');

            }

            if ($(document).scrollTop() > 250 || $(".navTrigger").hasClass('active')) {
                $("#hero-text").hide("fast");
            } else {
                $("#hero-text").show("fast");
            }



        });


        $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();

});

    </script>




   <!--</div>-->



<footer style="background:#d6d6c2;" class="footer" >
    <div class="container" >
        <div class="row justify-content-md-center" style="padding:20px;">
            <div class="col col-lg-2" style="padding-bottom: 20px;">
             <a title="Twitter-Account | Technikmax" target="_blank" href="https://twitter.com/maxi_jaeger" class="a-black"><img width="50px" height="auto" src="/static/blog/twitter-icon.png" alt="Twitter icon by Icons8"></a>
            </div>

             <div class="col col-lg-2" style="padding-bottom: 20px;">
             <a title="Github-Account | Technikmax" target="_blank" href="https://github.com/nevergofullretard" class="a-black"><img width="50px" height="auto" src="/static/blog/github-icon.png" alt="GitHub icon by Icons8"></a>
            </div>

            <div class="col col-lg-2" style="padding-bottom: 20px;">
             <a title="Technikmax auf Facebook" target="_blank" href="https://facebook.com/maximilian.jager.165" class="a-black"><img width="50px" height="auto" src="/static/blog/facebook-icon.png" alt="Facebook icon by Icons8"></a>
            </div>

            <div class="col col-lg-2" style="padding-bottom: 20px;">
             <a title="Instagram-Account | Technikmax" target="_blank" href="https://www.instagram.com/maxe_jaeger/" class="a-black"><img width="50px" height="auto" src="/static/blog/instagram-icon.png" alt="Instagram icon by Icons8"></a>
            </div>

             <div class="col col-lg-2" >
                <a title="Impressum & Datenschutz | Technikmax" class="a-black" href="{% url 'impressum' %}">Impressum & Datenschutz</a>
            </div>

            <div class="col col-lg-2" style="display: flex; justify-content: center; align-items: center; ">
                <a title="Kontakt | Technikmax"  class="a-black" href="{% url 'kontakt' %}">Kontakt</a>
            </div>
        </div>



        {% if user.is_authenticated %}
                <div class="row justify-content-md-center">

                <div class="col col-lg-2">
                    <a  class="a-black" href="{%url 'post-create'%}">Blogpost</a>
                </div>
                <div class="col col-lg-2">
                    <a  class="a-black" href="{%url 'upload-image'%}">Bild</a>
                </div>
                <div class="col col-lg-2">
                    <a  class="a-black" href="/admin">Admin</a>
                </div>
                <div class="col col-lg-2">
                    <a  class="a-black" href="{%url 'logout'%}">Log Out</a>
                </div>
                </div>





        {%endif%}

    </div>

</footer>
 <!--</div>-->
</body>
</html>