{% extends "blog/base.html" %}


{% block content %}
{% include "blog/navbar.html" %}

<style>


    a:hover h2{
    color:#6699ff;
    }


    a:hover span:hover {
    background-color: #6699ff !important;
    color: white !important;
    }

    a:hover {
    text-decoration:none;
    }

</style>
<h1>Kategorien</h1>




    {%for key, cat in cats.items%}
    <div style="background-color:white; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 25px 25px 25px 25px; margin-bottom: 5%" >
    <div class="fill" style="padding:3%;background-color:{{key.color}}; border-radius: 25px 25px 0px 0px; " >
    </div>

        <div style="padding-bottom: 10%; padding-right: 10%; padding-left: 10%; padding-top: 5%">
            <a href="{% url 'sections' name=key.name %}">
                <h2 style="margin-bottom: 10px;">{{key}}</h2>
            </a>

            <div style="padding-top: 3%">
    {%for c in cat%}

                    <a href="{% url 'category-detail' name=c.name %}">
                        <span style="background-color: #e6e6e6; padding: 12px; border-radius: 7px; font-weight:bold; color: {{key.color}}" >{{c}}</span>
                    </a>


            <!--<div class="col-sm-12 category_box" style="color:{{key.color}}">-->
                <!--<a href="{% url 'category-detail' name=c.name %}">-->
                    <!--<div class="frontpage_square">-->
                        <!--<h2 class="hero-text">{{c}}</h2>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->

    {%endfor%}
            </div>
        </div>
    </div>
{%endfor%}





{% endblock content %}