{% include "blog/category_hover.html" %}

<style type="text/css">

    #share-buttons img {
    width: 50px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;

    }

</style>

{%if newest.number > 1%}
        {%include "blog/next_post.html" %} <!-- das bewirkt dann die kleine Ansicht des Posts -->
    {%else%}


        <div style="text-decoration: none; margin-top: 20px;">

                    <div style="background-color:white; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 25px 25px 25px 25px; margin-bottom: 5%" >
                       {% if object.background_image %}
                            <div class="fill" style="padding:25%;background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                                url('{{object.background_image.image.url}}');border-radius: 25px 25px 0px 0px; " >
                            </div>
                        {%else%}
                            <div class="fill" style="padding:3%; background-color:{{object.categories.first.section.color}}; border-radius: 25px 25px 0px 0px; " >
                            </div>
                        {%endif%}

            <div style="padding-bottom: 10%; padding-right: 10%; padding-left: 10%; padding-top: 5%">
               <h1 style="margin-bottom: 10px; font-size: 2rem">{{object.title}}</h1>
                <div class="row">
                    <div class="col">



                        {% for cat in object.categories.all %}
                         <a class="category_link" href="{% url 'category-detail' name=cat.name %}">
                            <span class="category_box" style=" padding: 10px; border-radius: 5px; font-weight:bold; color:{{cat.section.color}};" >{{cat}}</span>
                         </a>
                      {%endfor%}



                    </div>
                </div>



                <div style="padding-top: 10px;">
                    <span style="color: {{object.font_color}}">{{ object.date|date:"d.m.Y" }}, </span>
                    <a href="{%url 'about'%}" style="color:black">
                     <small  style="color: {{object.font_color}}">von {{ object.author.first_name }} {{ object.author.last_name }}</small>
                    </a>
                </div>



                <div style="padding-top: 20px;">
                    <p style="font-size: 1.2rem; font-weight: bold">{{object.description}}</p>
               <p>{{ object.content|safe }}</p>
                </div>

            </div>




<!-- I got these buttons from simplesharebuttons.com -->
<div id="share-buttons" style="text-align:center; padding-bottom: 20px;">
    <hr>
    <p>
        Share this
    </p>

    <!-- Twitter -->
    <a href="https://twitter.com/intent/tweet?text={{title}}&url={{request.build_absolute_uri}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>

     <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>

    <!-- Email -->
    <a href="mailto:?Subject={{ title }} Buttons&amp;Body=Schau%20dir%20diesen%20neuen%20Artikel%20von%20Max%20Hunter%20an!%20 {{ request.build_absolute_uri }}">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>

     <!-- Reddit -->
    <a href="http://reddit.com/submit?url={{ request.build_absolute_uri }}&amp;title={{title}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    </a>

    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>

    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>

    <!-- Pinterest -->
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
        <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
    </a>


    <!-- Tumblr-->
    <a href="http://www.tumblr.com/share/link?url={{ request.build_absolute_uri }}&amp;title={{title}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
    </a>

    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
    </a>



</div>

                        </div>
                     </div>

        <div>

{%endif%}




    {%if object.next%}
         <h2 style="text-align:center;">Fortsetzung</h2>

                <div style="text-align:center; margin-top: 20px;   ">
                    <span class="arrow-down"></span>
                </div>
        {%include "blog/next_post.html" %}

    {%endif%}


    {%if newest%}
            <hr>
            {%if newest.number > 1%}
                <h2 style="text-align:center">Ähnliches zu „{{object.title}}“</h2>
                <p style="text-align:center; font-size:1.5rem;">(Seite {{newest.number}})</p>
            {%else%}

                <h2 style="text-align:center">Ähnliches</h2>
            {%endif%}
                <div style="text-align:center; margin-top: 20px;   ">
                    <span class="arrow-down"></span>
                </div>
        {%for object in newest%}
            {%include "blog/next_post.html" %}
        {%endfor%}

        {%include "blog/pagination_newest.html"%}
    {%endif%}


</div>