{% include "blog/category_hover.html" %}


{%if newest.number > 1%}
        {%include "blog/next_post.html" %} <!-- das bewirkt dann die kleine Ansicht des Posts -->
    {%else%}


        <div style="text-decoration: none; margin-top: 20px;">

                    <div style="background-color:white; box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 25px 25px 25px 25px; margin-bottom: 5%" >
                       {% if object.background_image %}
                            <div class="fill" style="padding:25%;background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                                url('{{object.background_image.image.url}}');border-radius: 25px 25px 0px 0px; " >
                            </div>
                        {%else%}
                            <div class="fill" style="padding:3%; background-color:{{object.categories.first.section.color}}; border-radius: 25px 25px 0px 0px; " >
                            </div>
                        {%endif%}

            <div style="padding-bottom: 10%; padding-right: 10%; padding-left: 10%; padding-top: 5%">
               <h1 style="margin-bottom: 10px; font-size: 2rem">{{object.title}}</h1>
                <div class="row">

                        {% for cat in object.categories.all %}
                         <a class="category_link" href="{% url 'category-detail' name=cat.name %}">
                            <span class="category_box" style=" padding: 10px; border-radius: 5px; font-weight:bold; color:{{cat.section.color}};" >{{cat}}</span>
                         </a>
                      {%endfor%}

                </div>

                <div style="padding-top: 10px;">
                    <span style="color: {{object.font_color}}">{{ object.date|date:"d.m.Y" }}, </span>
                    <a href="{%url 'about'%}" style="color:black">
                     <small  style="color: {{object.font_color}}">von {{ object.author.first_name }} {{ object.author.last_name }}</small>
                    </a>
                </div>


                <div style="padding-top: 20px;">
                    <p style="font-size: 1.2rem; font-weight: bold">{{object.description}}</p>
               <p>{{ object.content|safe }}</p>
                </div>

            </div>


                        </div>
                     </div>

        <div>

{%endif%}




    {%if object.next%}
         <h2 style="text-align:center;">Fortsetzung</h2>

                <div style="text-align:center; margin-top: 20px;   ">
                    <span class="arrow-down"></span>
                </div>
        {%include "blog/next_post.html" %}

    {%endif%}


    {%if newest%}
            <hr>
            {%if newest.number > 1%}
                <h2 style="text-align:center">Ähnliches zu „{{object.title}}“</h2>
                <p style="text-align:center; font-size:1.5rem;">(Seite {{newest.number}})</p>
            {%else%}

                <h2 style="text-align:center">Ähnliches</h2>
            {%endif%}
                <div style="text-align:center; margin-top: 20px;   ">
                    <span class="arrow-down"></span>
                </div>
        {%for object in newest%}
            {%include "blog/next_post.html" %}
        {%endfor%}

        {%include "blog/pagination_newest.html"%}
    {%endif%}


</div>