<a href="{% url 'post-detail' pk=object.id name=object.title_tag %}"  style="text-decoration: none;">

<div class="article_box" >
   {% if object.background_image %}
    <div class="fill" style="padding:15%;background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url('{{object.background_image.image.url}}');border-radius: 25px 25px 0px 0px;" >
    </div>
    {%else%}
        <div class="fill" style="padding:3%; background-color:{{object.categories.first.section.color}}; border-radius: 25px 25px 0px 0px; " >
        </div>
    {%endif%}

    <div class="content_box">
        <h3 style="margin-bottom: 10px; font-size: 2rem">{{object.title}}</h3>
        {% for cat in object.categories.all %}
            <span class="category_box" style="color:{{cat.section.color}};" >{{cat}}</span>

          {%endfor%}


    </div>

    </div>
    </a>