{% if is_paginated %}
        <div style="text-align: center">
            {% if page_obj.has_previous %}
        <a title="Erste Seite" title="Seite 1"  class="btn btn-outline-dark mb-4" href="?page=1"><<</a>
        <a title="Vorige Seite" title="Seite {{ page_obj.previous_page_number }}"  class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a title="Seite {{ num }}" class="btn btn-success mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a title="Seite {{ num }}"  class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a title="Nächste Seite"  class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">></a>
        <a title="Letzte Seite" class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>

        </div>
    {% endif %}
{% endif %}